<h2>Weather Forecasts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp Celsius</th>
            <th>Temp Fahrenheit</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{forecast.date | date:'MM/dd/yyyy'}}</td>
            <td>{{forecast.temperatureC}}</td>
            <td>{{forecast.temperatureF}}</td>
            <td>{{forecast.summary}}</td>
        </tr>
    </tbody>
</table>