<header class="container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" routerLink="/">
                        Learning <small><u><i>to</i></u></small> Hunt
                    </a>                    
                    <p class="p-0">
                        <a class="sm-nav-logo" routerLink="/"><small class="sm-nav-logo">The Hunting 101 bootstrap</small></a>
                    </p>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link dropdown-item" href="#">Option 1</a></li>
                                <li><a class="nav-link dropdown-item" href="#">Option 2</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link dropdown-item" href="#">Option 3</a></li>
                            </ul>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="hunting-guide">Hunting Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="articles">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" routerLink="privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <alert></alert>
            <router-outlet />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; {{currDate | date:'yyyy'}} - Learning to Hunt - <a routerLink="privacy">Privacy</a>
        </div>
    </footer>
