<div class="text-center my-2">
    <h6 class="display-6 mb-3">Welcome to Learning To Hunt!</h6>
    <p class="lead">
        A great place to learn the hunt!
    </p>    
</div>
<div>
    <p>
        There are many great websites and YouTube channels with hordes of information on hunting.  
        Our focus though, is to help you get started -- from the ground up.  
    </p>
    <p>
        If you are wondering how to 
        obtain a hunting license, what the laws are, where to hunt, what gear you need, etc., then head on over
        to our step-by-step <a href="hunting-guide">hunting guide</a>.
    </p>
</div>

